<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h1>User</h1>
<table border="1">
    <tr>
        <th th:width="50">Id</th>
        <th th:width="120">Name</th>
        <th th:width="120">SurName</th>
        <th th:width="150">Mobile</th>
    </tr>
    <td th:utext="${user.id}">Id</td>
    <td th:utext="${user.name}">Name</td>
    <td th:utext="${user.surName}">SurName</td>
    <td th:utext="${user.mobile}">Mobile</td>
</table>
<br>
<button onclick="window.location.href = '..';">Back to users</button>

</body>
</html>